-
	const data = {
		header: {
			links: {
				logo: '/',
				pages: [
					{
						url: 'massages',
						name: 'Массажи'
					},
					{
						url: 'aroma-therapy',
						name: 'Аромат терапия'
					}
				]
			},
			menu: [
				{
					url: '#about',
					name: 'О мастере'
				},
				{
					url: '#reviews',
					name: 'Отзывы'
				},
				{
					url: '#contact',
					name: 'Контакты'
				}
			]
		},

		share: {
			caption: 'Поделиться:',
			list: ['fb', 'tw', 'vk', 'ok'],
		},

		home: {
			about: {
				icons: [
					{
						icon: 'sun',
						title: 'Омоложение'
					},
					{
						icon: 'heart',
						title: 'Оздоровление'
					},
					{
						icon: 'face',
						title: 'Отличное <br> настроение'
					},
					{
						icon: 'smile',
						title: 'Положительные <br>эмоции'
					},
					{
						icon: 'champ',
						title: 'Заряд энергии'
					},
				],
				blocks: [
					{
						color: 'rgba(255, 244, 184, 0.8)',
						title: 'По завершению обязательные рекомендации.'
					},
					{
						color: 'rgba(243, 255, 227, 0.8)',
						title: 'Спокойная обстановка и расслабляющая музыка дают потрясающий результат!'
					},
					{
						color: 'rgba(226, 255, 247, 0.8)',
						title: 'А в заключении вибрационный массаж звуками поющей Тибетской чаши, которые заполняют энергией и гармонизируют. Успокаивают ум и влияют на тонкие тела.'
					},
				]
			}
		},

		massage: {
			items: [
				{
					order: 1,
					title: 'Расслабляющий',
					desc: 'Как принято считать, ключевые особенности структуры проекта формируют глобальную экономическую сеть и при этом - смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.'
				},
				{
					order: 1,
					title: 'ГуаШа тела',
					desc: 'Как принято считать, ключевые особенности структуры проекта формируют глобальную экономическую сеть и при этом - смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.'
				},
				{
					order: 1,
					title: 'Висцелярный',
					desc: 'Как принято считать, ключевые особенности структуры проекта формируют глобальную экономическую сеть и при этом - смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.'
				},
				{
					order: 1,
					title: 'Японский массаж лица Кобидо с использованием Эфирных Масел',
					desc: 'Как принято считать, ключевые особенности структуры проекта формируют глобальную экономическую сеть и при этом - смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.'
				},
				{
					order: 1,
					title: 'Массаж стоп',
					desc: 'Как принято считать, ключевые особенности структуры проекта формируют глобальную экономическую сеть и при этом - смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.'
				},
				{
					order: 2,
					title: 'Лечебный',
					desc: 'Как принято считать, ключевые особенности структуры проекта формируют глобальную экономическую сеть и при этом - смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.'
				},
				{
					order: 2,
					title: 'Баночный массаж',
					desc: 'Как принято считать, ключевые особенности структуры проекта формируют глобальную экономическую сеть и при этом - смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.'
				},
				{
					order: 2,
					title: 'Антицеллюлитный',
					desc: 'Как принято считать, ключевые особенности структуры проекта формируют глобальную экономическую сеть и при этом - смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.'
				},
				{
					order: 2,
					title: 'Буккальный массаж лица',
					desc: 'Как принято считать, ключевые особенности структуры проекта формируют глобальную экономическую сеть и при этом - смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.'
				},
				{
					order: 2,
					title: 'Массаж рук',
					desc: 'Как принято считать, ключевые особенности структуры проекта формируют глобальную экономическую сеть и при этом - смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.'
				}
			]
		},

		aroma: [
			{
				title: 'Нюхательный флакон (противовирусный)',
				price: '5 мл / 300 &#8381;',
				img: 'item-1'
			},
			{
				title: 'Релакс капли',
				price: '5 мл / 300 &#8381;',
				img: 'item-2'
			},
			{
				title: 'Крем для рук',
				price: '50 мл / 600 &#8381;',
				img: 'item-1'
			},
			{
				title: 'Крем для лица',
				price: '50 мл / 800 &#8381;',
				img: 'item-2'
			},
			{
				title: 'Тоник для лица',
				price: '50 мл / 420 &#8381;',
				img: 'item-1'
			},
			{
				title: 'Сыворотка для лица',
				price: '20 мл / 800 &#8381;',
				img: 'item-2'
			},
			{
				title: 'Крем для ног',
				price: '50 мл / 600 &#8381;',
				img: 'item-1'
			},
			{
				title: 'Бальзам для ног',
				price: '50 мл / 800 &#8381;',
				img: 'item-2'
			},
			{
				title: 'Масло для умывания лица',
				price: '15 мл / 1 200 &#8381;',
				img: 'item-1'
			},
			{
				title: 'Спрей для волос',
				price: '50 мл / 420 &#8381;',
				img: 'item-2'
			},
			{
				title: 'Скраб для ног',
				price: '100 гр / 350 &#8381;',
				img: 'item-1'
			},
			{
				title: 'Массажное масло',
				price: '100 мл / 330 &#8381;',
				img: 'item-2'
			},
			{
				title: 'Антисептик',
				price: '100 мл / 240 &#8381;',
				img: 'item-1'
			},
			{
				title: 'Средство для уборки (концентрат)',
				price: '100 мл / 400 &#8381;',
				img: 'item-2'
			},
			{
				title: 'Освежитель воздуха',
				price: '100 мл / 260 &#8381;',
				img: 'item-1'
			},
			{
				title: 'Маска для лица',
				price: '50 мл / 600 &#8381;',
				img: 'item-2'
			},
			{
				title: 'Капли от насморка детские',
				price: '10 мл / 400 &#8381;',
				img: 'item-1'
			},
			{
				title: 'Капли от насморка взрослые',
				price: '10 мл / 400 &#8381;',
				img: 'item-2'
			}
		],

		modal: {
			close: 'Закрыть',
		},
	};

script.
	window.data = {
		home: !{JSON.stringify(data.home)},
	};
