main.massages-inner
  .container
    .massages__wrapper
      include ../components/breadcrumb
      h1.massages-inner__title.title
        | Виды массажа
        span все для вас
      .massages-inner__top
        .massages-inner__block
          h2.massages-inner__name
            | Японский массаж лица Кобидо <span> с использованием Эфирных Масел </span>
          .massages-inner__mobile
            img(src="./images/massages/item-4.jpg", alt="")
          .massages-inner__subtitle
            p Повседневная практика показывает, что внедрение современных методик говорит о возможностях новых предложений. Ясность нашей позиции очевидна: синтетическое тестирование играет определяющее значение для поэтапного и последовательного развития общества.
          .massages-inner__price
            p Цена за сеанс: <span>4 000 &#8381;</span>
            button(type="button").btn.btn__secondary.js-modal-session
              | Записаться
          .massages-inner__info
            strong Показания к процедуре:
            ul.massages-inner__lists
              li.massages-inner__list
                | Повседневная практика показывает
              li.massages-inner__list
                | Что внедрение современных методик
              li.massages-inner__list
                | Говорит о возможностях новых предложений.
              li.massages-inner__list
                | Ясность нашей позиции очевидна
        .massages-inner__image
          img(src="./images/massages/item-4.jpg", alt="")
      .massages-inner__bottom
        .default-section
          h2 Цель и смысл сеанса Кобидо
          p В то время как большинство массажей узкоспециализированны и справляются с одной основной проблемой, кобидо отличается универсальностью. Эта процедура рекомендована обладателям как жирной, так и сухой кожи, при наличии старческих пятен и морщин, а также при угревой сыпи. Помимо избавления от косметических дефектов, этот вид массажа лица помогает при головных болях и избавляет от депрессии.
          p Кобидо делают курсом из 10 процедур, встречаясь с массажистом дважды в неделю. Видимый результат становится заметным в среднем через 3 посещения салона. Для его поддержания, после прохождения курса следует возвращаться к специалисту 1-2 раза в месяц.
          p В Японии стоимость одной встречи со специалистом может достигать 450 долларов. Это объясняется тем, что данный вид процедуры избавляет клиента от необходимости более агрессивного вмешательства в его внешность — то есть инъекционного либо аппаратного воздействия. Мобилизуя естественные ресурсы организма и стимулируя циркуляцию энергии Ци, кобидо создает натуральный эффект лифтинга и восстанавливает баланс влажности кожи лица.
          h2 Техника и движения массажа Кобидо
          p Сеанса массажа кобидо длится час-полтора. Клиент ложится на массажный стол на спину. Следует быть готовым к тому, что мастер будет применять небольшое количество масла, которое способствует гладкому скольжению его рук и расслаблению мышц клиента.
          p Основная область работы — лицо и шея (как передняя, так и задняя поверхность), но затронуты будут и волосистая часть головы, и конечности. Во время сеанса мастер задействует некоторые техники из шиацу и лимфодренажа.
          p Клиентов, которые привыкли ходить к косметологу на обычный массаж, массаж кобидо удивляет своей нестандартной техникой. Легкие, почти невесомые поглаживания чередуются с перкуссионными нажатиями — то есть быстрыми ритмичными постукиваниями. Элементы аккупрессуры также включены в процесс.
          h2 Последовательность процедуры массажа лица Кобидо
          p Порядок действий во время процедуры может варьироваться в зависимости от опыта и навыков конкретного мастера. Однако в целом сеанс проходит приблизительно по следующей схеме.
          p Сеанс начинается с очищения лица. Мастер удаляет с кожи макияж и те микроскопические загрязнения, что накапливаются на поверхности лица за день. При наличии обильного сального блеска уместно применение деликатного скраба с мелкими гранулами. После очищения на кожу накладывают горячее полотенце, после снятия которого наносят очищающий лосьон.
          p Затем следует этап увлажнения кожи. Потом мастер переходит к стимуляции массажных меридианов, уделяя особое внимание точкам меридианных пересечений.
    picture.large-line
      source(srcset="/images/line-large.svg" media="(min-width: 1023px)")
      img(src="./images/small-line.svg", alt="")